.speakers {
  &__wrap {
    display: flex;
    justify-content: space-between;
    align-items: stretch;

    @include sm {
      flex-direction: column;
    }
  }

  &__block {
    flex-basis: 30%;

    @include sm {
      flex-basis: 100%;
      margin: auto;
      margin-bottom: rem(30);
    }

    @include xs {
      padding-right: 20px;
    }

    &:last-child {
      margin-bottom: 0;
    }
  }

  &__item {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
  }

  &__img {
    max-width: rem(340);
    width: 100%;
  }

  &__name {
    padding-bottom: rem(15);
    margin-bottom: rem(15);
    font-size: rem(25);
    position: relative;

    @include md {
      font-size: rem(20);
      padding-bottom: rem(10);
      margin-bottom: rem(10);
    }

    &:after {
      position: absolute;
      content: '';
      width: rem(40);
      height: rem(2);
      left: 0;
      bottom: 0;
      background-color: $mc;
    }
  }

  &__status {
    color: $gc;
    margin-bottom: rem(20);

    @include md {
      font-size: rem(15);
      margin-bottom: rem(15);
    }

  }

  &__desc-wrap {
    background-color: $sc;
    position: relative;
    max-width: rem(340);
    width: 100%;
    margin-left: rem(20);
    height: 100%;
    padding: rem(40) rem(55);
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    @include md {
      padding: rem(20) rem(35);
    }

    &:before {
      position: absolute;
      content: '';
      background-color: $sc;
      width: 100%;
      height: 100%;
      bottom: 100%;
      left: 0;
      z-index: -1;
    }

  }

  &__desc {}

  &__contacts {
    .icon-wrap {
      margin-right: rem(5);
    }
  }
}